:root {
  --primary-color: #ae4a74;
  --bg: #f3ddeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #972c70;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary-color);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

.navbar .navbar-extra a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.navbar .navbar-extra a:hover {
  background-color: #fff;
  color: var(--primary-color);
  transition: all 0.3s ease;
}
